<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">Login</h1>
            <!-- 引用 messages 這個 partial view -->
            {{> messages}}
            <form action="/users/login" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
                <a href="/auth/facebook" class="btn btn-info btn-block">Facebook Login</a>
            </form>
            <p class="mt-4">
                No account? <a href="/users/register">Register</a>
            </p>
        </div>
    </div>
</div>